<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vrymel.curdate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7E024BC8-8A4C-4E0D-AA4C-76F49598B692</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E477C56-F2A4-4C7D-BAF3-28A9DEAB72A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDAD5A21-4EFA-4BBE-8ECC-D25007C14D86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E024BC8-8A4C-4E0D-AA4C-76F49598B692</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vrymel Omandam</string>
	<key>description</key>
	<string>Paste currente date in ISO 8601 format</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste current date</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6E477C56-F2A4-4C7D-BAF3-28A9DEAB72A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>today</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>DDAD5A21-4EFA-4BBE-8ECC-D25007C14D86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import datetime

output = datetime.datetime.today().strftime('%Y-%m-%d')

sys.stdout.write(output)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E024BC8-8A4C-4E0D-AA4C-76F49598B692</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6E477C56-F2A4-4C7D-BAF3-28A9DEAB72A9</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>7E024BC8-8A4C-4E0D-AA4C-76F49598B692</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>DDAD5A21-4EFA-4BBE-8ECC-D25007C14D86</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://vrymel.com</string>
</dict>
</plist>
