<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vrymel.sgain</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>00523584-84BD-4E16-A5E2-E20509F1F084</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A425F3D9-4F02-4E3A-A3D9-074FCAC19739</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A425F3D9-4F02-4E3A-A3D9-074FCAC19739</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E41B3CB-98AA-4135-9943-B8258D9A18A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4B2C3E09-7782-49E7-AC15-9CEB9FA0F3A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vrymel Omandam</string>
	<key>description</key>
	<string># | Buy | Sell</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Stock Gain Calculator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sgain</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Stock Gain Calculator</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>00523584-84BD-4E16-A5E2-E20509F1F084</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Gain of {query}</string>
				<key>title</key>
				<string>Stock Gain</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8E41B3CB-98AA-4135-9943-B8258D9A18A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>1</integer>
				<key>script</key>
				<string>python main.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A425F3D9-4F02-4E3A-A3D9-074FCAC19739</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4B2C3E09-7782-49E7-AC15-9CEB9FA0F3A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00523584-84BD-4E16-A5E2-E20509F1F084</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>4B2C3E09-7782-49E7-AC15-9CEB9FA0F3A9</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>8E41B3CB-98AA-4135-9943-B8258D9A18A5</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A425F3D9-4F02-4E3A-A3D9-074FCAC19739</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://vrymel.com</string>
</dict>
</plist>
