<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vrymel.stimediff</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>366B5124-C34A-47EB-9F9E-35547EABBD8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D46B530A-0735-41D8-9675-C6D2D86A7179</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D46B530A-0735-41D8-9675-C6D2D86A7179</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4AFB230-61B3-4409-B29B-062069E03764</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vrymel Omandam</string>
	<key>description</key>
	<string>Calculate time difference given two time values</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Time Difference</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} hours</string>
				<key>title</key>
				<string>Time difference</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A4AFB230-61B3-4409-B29B-062069E03764</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>1</integer>
				<key>script</key>
				<string>python main.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D46B530A-0735-41D8-9675-C6D2D86A7179</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>stimediff</string>
				<key>subtext</key>
				<string>Example args: 1000 1130</string>
				<key>text</key>
				<string>Time diff</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>366B5124-C34A-47EB-9F9E-35547EABBD8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>366B5124-C34A-47EB-9F9E-35547EABBD8B</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A4AFB230-61B3-4409-B29B-062069E03764</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>D46B530A-0735-41D8-9675-C6D2D86A7179</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
